# streamlit 
gradio
# gradio_image_annotation
PyMuPDF
openai
qwen_vl_utils
transformers==4.56.1
huggingface_hub
modelscope
# flash-attn==2.8.0.post2  # to speed up inference need flash-attn
accelerate
cairosvg